/*-----ESTRUTURA GERAL-----*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #f4f2ec;
    font-family: 12px "Lucida Grande";
}

main {
    width: 1080px;
    margin: 0px auto;
}

/*-------------*/

/*-----TOPO-----*/

header {
    background-color: #262318;
    width: 100%;
    height: 160px;
}

#logo {
    margin-left: 410px;
    margin-top: 40px;
}

nav {
    float: right;
    display: inline;
    margin-right: 420px;
    margin-top: 45px;
}

nav li {
    display: inline;
    padding: 10px;
    color: #af670a;
}

a {
    color: #af670a;;
    font-size: 0.8em;
    text-decoration: none;
}

a:hover {
    color: #227115;
}

/*FIM TOPO*/

/*CONTEÚDO PRINCIPAL*/

#conteudo {
    width: 710px;
	float: left;
	margin-bottom: 20px;
}
#imagem-depoimento{
    width: 97%;
    margin-top: -60px;
    height: 320px;
}
#imagem-museu {
    width: 710px;
    height: 320px;
    margin-top: -60px;
}

.titulo-conteudo {
    color: #227115;
    font-weight: bold;
    font-size: 0.8em;
    margin: 20px 0px 5px 8px;
    text-transform: uppercase;
}

section {
    float: left;
    width: 350px;
}

#video {
    padding: 10px;
    width: 300px;
    height: 180px;
    float: left;
    margin-bottom: 25px;
}

#conteudo-mapa {
    width: 300px;
}

#conteudo-video {
    margin-left: 50px;
    width: 300px;
}

#mapa {
    padding: 10px;
    width: 310px;
    height: 180px
}

#exposicoes {
    padding-top: 15px;
    margin-left: 40px;
}

#exposicoes li{
    padding: 2px 5px;
}


p {
    padding-top: 15px;
    font-size: 0.9em;
    margin-left: 8px;
    margin-bottom: 15px;
}

#conteudo-video a {
    margin: 8px;
}

/*FIM CONTEÚDO PRINCIPAL*/

/*CONTEUDO LATERAL*/

aside {
    width: 350px;
    float: right;
    background: #ebe7dd;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

#area-form {
    width: 340px;
    float: left;
    height: 150px;
    background-color: #C8C2AA;
    margin-top: 10px;
}

fieldset {
    margin-left: 30px;
    border: none;
}

form label {
    font-size: 0.8em;
    display: inline;
}

form input {
    display: inline;
}

h4 {
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 30px;
    padding-bottom: 10px;
    color: #86521a;
    font-weight: bold;
}

#form-pessoas {
    width: 25px;
    padding: 3px;
}

#form-data {
    width: 130px;
}

#botao {
    padding: 15px;
    width: 280px;
    margin-left: 32px;
    margin-top: 10px;
    color: white;
    background: #9b9271;
    border: none;
}

#area-fotos {
    background-color: #EBE7DD;
    height: 350px;
    float: left;
    width: 340px;
}

.foto-lateral {
    background-image: url(img/img/fundo-foto.png);
    width: 93px;
    height: 93px;
    padding: 17px 15px 17px 15px;
    margin: 10px 0 0 20px;
}



/*FIM CONTEÚDO LATERAL*/

/*RODAPE*/

footer {
    clear: both;
    background: url(img/img/fundo-rodape.png) no-repeat center top; 
    width: 1000px;
    text-align: center;
}


footer a {
    font-size: 0.7em;
    margin: 0 auto;
    padding: 10px;
}
